reading-list
data
code/charitybase-api-key.txt
code/charity-trustees-pilot.ipynb
code/connections-test.py
code/manchester-trustees.csv
code/sna-demo-2020-06-10.ipynb
webinars/*outline*
.ipynb_checkpoints