data/chargraph*
code/charitybase-api-key.txt
code/charity-trustees-pilot.ipynb
code/sna-sample-graphs-code-2020-08-26.ipynb
code/connections-test.py
code/manchester-trustees.csv
code/sna-demo-2020-06-10.ipynb
code/twitter-api-credentials.json
webinars/*outline*
*.osp
*.mp4
webinars/twitter-api-project-file-video*
webinars/*notes*
webinars/twitter-api-project-file-video_assets
*.pptx
.ipynb_checkpoints

code/unused-code-2020-09-15.txt
code/data/rnli-timeline-2020-09-15.json
code/data/rnli-timeline-2020-09-15.csv
code/sna-analysis-data-prep.ipynb
code/data/funder-network-covid19-valued-2020-09-24.csv
