data/chargraph*
code/ukds-sna-getting-data-2020-09-15.ipynb
code/ukds-sna-methods-of-analysis-2020-09-29.ipynb
code/charitybase-api-key.txt
code/charity-trustees-pilot.ipynb
code/sna-sample-graphs-code-2020-08-26.ipynb
code/connections-test.py
code/manchester-trustees.csv
code/sna-demo-2020-06-10.ipynb
webinars/*outline*
*.pptx
.ipynb_checkpoints